body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url("teclado.jpg")center no-repeat;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 35px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    
    
}
@keyframes mymove {
    50% {left: 500px;}
  }
h1 {
    font-size: 2em;
    margin: 0.5em 0;
}

h2 {
    font-size: 1.2em;
    margin: 0.5em 0;
}
.icons{
    display: flex;
    justify-content: space-around; /* Espaça os ícones de forma uniforme */
    gap: 30px; /* Espaço entre os ícones */
    margin: 20px 0; /* Espaço entre as seções */
    
}
.icons a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    justify-content: space-around;
    

    display: flex;
    flex-direction: column; /* Alinha ícones e textos verticalmente */
    align-items: center; /* Centraliza ícones e textos horizontalmente */
}
.icons i{
    font-size: 3em;
}
a :hover{
color: blueviolet;
}
iframe {
  float: left;
  padding: 20px;
  width: auto;
  border-radius: 50px;
  
}
.list-itens{
display: flex;
justify-content: space-around;
align-items: center;
font-size: 1.8rem;
height: 100%;


}
